<footer class="site-footer">
  <div class="container site-footer-inner">
    <div class="footer-columns">
      <div class="footer-columns-group-1">
        <div class="footer-column categories">
          <h3>Rezept-Kategorien</h3>
          <ul>
            <li>
              <a
                href="https://www.chefkoch.de/rs/s0/hauptgerichte/Rezepte.html"
                target="_blank"
                >Hauptgerichte</a
              >
            </li>
            <li>
              <a
                href="https://www.chefkoch.de/rs/s0/einfache+dessert+backen/Rezepte.html"
                target="_blank"
                >Backen & Desserts</a
              >
            </li>
            <li>
              <a
                href="https://www.chefkoch.de/rs/s0/vegan/Rezepte.html"
                target="_blank"
                >Vegane Küche</a
              >
            </li>
            <li>
              <a
                href="https://www.chefkoch.de/rs/s0/saisonale/Rezepte.html"
                target="_blank"
                >Saisonal</a
              >
            </li>
            <li>
              <a
                href="https://www.chefkoch.de/rs/s0/international/Rezepte.html"
                target="_blank"
                >International Küche</a
              >
            </li>
          </ul>
        </div>

        <div class="footer-column about">
          <h3>Über uns</h3>
          <ul>
            <li><a href="mission.html">Unsere Mission</a></li>
            <li><a href="team.html">Das Team</a></li>
            <li><a href="career.html">Karriere</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-column newsletter">
        <h3>Newsletter & Social Media</h3>
        <div class="newsletter-form">
          <div id="bestaetigungsModal" class="modal">
            <div class="modal-inhalt">
              <span class="schliessen-button">&times;</span>

              <h3>🎉 Abonnement erfolgreich!</h3>
              <p class="p-abo">
                Vielen Dank für Ihr Interesse! Sie erhalten in Kürze eine
                Willkommens-E-Mail.
              </p>
            </div>
          </div>

          <form id="aboFormular">
            <input
              type="email"
              placeholder="mail abonnieren"
              class="email-input"
              name="email"
              required
            />
            <button type="submit" class="subscribe-button">
              Jetzt abonnieren!
            </button>
          </form>
        </div>

        <div class="social-media">
          <span>Folge uns!</span>
          <a
            href="https://www.pinterest.com/"
            target="_blank"
            class="social-link"
          >
            <img
              src="assets/icons/icons8-pinterest-50.png"
              alt="Pinterest"
              class="social-icon-img"
            />
          </a>

          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="social-link"
          >
            <img
              src="assets/icons/icons8-youtube-50.png"
              alt="YouTube"
              class="social-icon-img"
            />
          </a>

          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="social-link"
          >
            <img
              src="assets/icons/icons8-facebook-50.png"
              alt="Facebook"
              class="social-icon-img"
            />
          </a>

          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="social-link"
          >
            <img
              src="assets/icons/icons8-instagram-50.png"
              alt="Instagram"
              class="social-icon-img"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-seperator"></div>

    <div class="footer-legal">
      <a href="impressum.html">Impressum</a>
      <a href="datenschutz.html">Datenschutzerklärung</a>
      <a href="cookie.html">Cookie-Hinweis</a>
    </div>
  </div>
</footer>
